@import '~bootstrap/scss/bootstrap';


// Variables
$white-color: #ffffff;
$grey-color: #fff8E8;
$yellow-color: #fcd581;
$pink-color: #eb261ccf;
$orange-color: #f82e2e;


// NAVs
#nav-top {
    background-color: $orange-color;
    height: 95px;

    .nav-a {
        font-size: 20px;

    }

    #img-logo {
        width: 17%;

        img {
            max-width: 100%;
        }
    }

    .fa-user {
        color: $grey-color;
        margin-top: 15px;
        font-size: 27px;
    }

    #navbarDropdown {
        font-size: 30px;
        color: $grey-color;
    }

    #dropdown-menu-edit {
        left: -140px;

        a {
            font-size: 20px;
            padding: 10px;
            color: gray;
        }
    }
}

// MAIN
main {
    height: calc(100vh - 95px);
    background-image: url(../../storage/app/public/images/home-background-hero-scaled.jpg);
    background-position: center;
    background-size: cover;
    position: relative;


    // SECTION CONTENTs

    //Welcome.blade
    #title-jumbotron {
        font-size: 80px;
        font-weight: bold;
        color: $grey-color;
        position: absolute;
        top: 30%;
        right: 47%;
    }

    // Login.blade
    #card-body {
        background-color: $pink-color;
        height: 100%;
        border-radius: 20px;
        color: $grey-color;
        font-size: 20px;

        form {
            padding: 30px;
        }
    }

    // Dashboard.blade
    .dashboard {
        display: flex;
        height: 100%;

        // left
        .left-nav {
            width: calc(100% / 7) * 1;
            font-size: 25px;
            padding-top: 40px;
            background-color: $orange-color;

            .text-nav {
                margin: 30px 25px;

                a {
                    color: $grey-color;
                }
            }
        }

        // right
        .dashboard-home {
            width: calc(100% / 7) * 6;
            padding-top: 40px;
            position: relative;

            .card {
                width: 80%;
                height: 80%;
                margin: auto;
                border-radius: 20px;
                background-color: $pink-color;
                position: absolute;
                top: 10%;
                right: 10%;


                // YIELDS

                // home

                .img {


                    img {
                        max-width: 100%;
                    }
                }

                .list {}

            }
        }
    }
}